$input-top-padding: 0.67rem 0.89rem;
$placeholder-color: variable.$grey-500;
$background-color: variable.$grey-100;

.input-container,
.click-to-upload-container {
  .input-label {
    @extend .xxs;
    padding-bottom: 0.44rem;
    display: block;
    color: variable.$black;
    font-weight: 500;
  }

  .input-error {
    border-color: variable.$error-500;
    background-color: variable.$white;
  }
  .input-success {
    border-color: variable.$success-500;
    background-color: variable.$white;
  }

  .error-message {
    @extend .xxs;
    color: variable.$error-500;
  }
  .success-message {
    @extend .xxs;
    color: variable.$success-500;
  }
}

.input-field-container {
  width: 100%;
  border: 1px solid;
  border-color: transparent;
  border-radius: variable.$input-radius;
  background-color: variable.$grey-100;
  @include layout.flex($align: center);

  &:focus-within {
    border-color: variable.$primary-col-500;
    background-color: transparent;
  }

  input {
    @extend .xs;
    width: 100%;
    padding: $input-top-padding;
    border-radius: variable.$input-radius;
    background-color: transparent;
    border: 0;
    outline: 0;

    &:active {
      border: 0;
      outline: 0;
    }

    &:focus {
      border: 0;
      outline: 0;
    }

    &::placeholder {
      color: $placeholder-color;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px white inset !important;
    }
  }

  &.icon-right {
    position: relative;
    input {
      margin-right: 2rem;
    }
    .icon {
      position: absolute;
      top: 50%;
      right: 0.89rem;
      transform: translateY(-50%);
    }
  }

  &.icon-left {
    position: relative;
    input {
      margin-left: 2rem;
    }
    .icon {
      position: absolute;
      top: 50%;
      left: 0.89rem;
      transform: translateY(-50%);
    }
  }

  .password-icon {
    cursor: pointer;
  }
}
